.player {
  &__container {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time-control {
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 2rem;

    &-range {
      width: 100%;
      background: transparent;
      -webkit-appearance: none;
      cursor: pointer;
    }

    &-time {
      padding: 0 1rem;
      width: 5rem;
      text-align: center;
      font-weight: 500;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 1rem;
      background: violet;
      border-radius: 1rem;
      overflow: hidden;
    }
  }

  &__animate-track {
    position: absolute;
    display: block;
    width: 100%;
    height: 1rem;
    background: lightgray;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
  }

  &__play-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &-button {
      cursor: pointer;
    }
  }
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .player {
    &__time-control {
      width: 90%;
    }

    &__play-control {
      width: 70%;
    }
  }
}
