.song {
  &__container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cover {
    width: 20%;
    border-radius: 100%;
  }

  &__name {
    margin: 2rem 0 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__artist {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(49, 49, 49);
  }
}

@media screen and (max-width: 1024px) {
  .song {
    &__cover {
      width: 60%;
    }
  }
}

@media screen and (min-height: 1024px) {
  .song {
    &__cover {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  .song {
    &__cover {
      width: 60%;
    }
  }
}
